.section-blog {
  .jumbotron {
    background-color: #263858;
    color: #F1F1F1;
    text-align: center;

    h1 {
      font-size: 50px;
      font-family: Quicksand, sans-serif;
    }

    .logo-circle {
      margin: 60px auto 20px;
    }
  }

  .article-list {
    .article {
      margin-bottom: 45px;
      padding-bottom: 45px;
      border-bottom: 1px solid #EEE;
      line-height: 1.5;
      color: #50585D;
      font-family: Raleway, sans-serif;
      text-align: justify;
      font-size: 20px;
    }

    .article-title {
      display: block;
      color: #415D87;
      text-align: center;
      font-size: 40px;
      font-weight: bold;

      &:hover {
        color: #263858;
        text-decoration: none;
      }
    }

    .article-tags {
      margin-bottom: 40px;
      font-size: 18px;
      text-align: center;

      .label {
        background-color: #B5C8DC;
        color: #FFF;
      }

      .label:hover {
        background-color: #AC534F;
      }
    }

    .article-byline {
      text-align: center;
      color: #B5C8DC;
      font-size: 18px;
    }

    .article-readmore {
      display: block;
      color: #AC534F;

      &:hover {
        text-decoration: none;
        color: #B5C8DC;
      }
    }

    .article-abstract {
      margin-bottom: 20px;
    }
  }
}

