<div class="section-blog">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="logo-circle">
          <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 150">
            <g class="brand" transform="translate(-215.7143,-245.9336)">
              <text x="272.0119" y="368.16562">
                <tspan x="272.0119" y="368.16562">JDM</tspan>
              </text>
            </g>
          </svg>
        </div>
      </div>
      <div class="row">
        <h1>Thoughts on Startups</h1>
      </div>
    </div>
  </div>

  <div class="container article-list">
    <div class="col-lg-8 col-lg-push-2 col-lg-pull-2 col-md-10 col-md-push-1 col-md-pull-1 col-xs-12 article">
      <div class="article-byline">29 August 2014</div>
      <a href="" class="article-title">The AngularJS Way</a>
      <ul class="list-unstyled list-inline article-tags">
        <li><a class="label" href="">jquery</a></li>
        <li><a class="label" href="">angularjs</a></li>
        <li><a class="label" href="">javascript</a></li>
        <li><a class="label" href="">best-practices</a></li>
        <li><a class="label" href="">web</a></li>
      </ul>
      <div class="article-abstract">
        jQuery is fantastic, but ill-suited to modern single-page application development. New
        frameworks like AngularJS provide tools and practices to make it easy, but it requires a
        different way of thinking than we're used to.
      </div>
      <a class="article-readmore" href="">Read more &raquo;</a>
    </div>

    <div class="col-lg-8 col-lg-push-2 col-lg-pull-2 col-md-10 col-md-push-1 col-md-pull-1 col-xs-12 article">
      <div class="article-byline">22 August 2014</div>
      <a href="" class="article-title">And This is a Secondary Post</a>
      <ul class="list-unstyled list-inline article-tags">
        <li><a class="label" href="">tag</a></li>
        <li><a class="label" href="">tag</a></li>
      </ul>
      <div class="article-abstract">
        Flair is what marks the difference between artistry and mere competence. The Federation's
        gone; the Borg is everywhere! And blowing into maximum warp speed, you appeared for an
        instant to be in two places at once. This should be interesting. The unexpected is our
        normal routine.
      </div>
      <a class="article-readmore" href="">Read more &raquo;</a>
    </div>
  </div>
</div>

