.section-home {
  width: 100%;
  height: 100%;
  background-color: #415C87;
  color: #FFF;
  padding-top: 50px;

  .table-wrapper {
    margin-top: -25px; /* offset half the navbar, which is the same color */
  }

  .masthead, .tagline {
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.2;
  }

  .masthead {
    font-family: Quicksand, sans-serif;
    font-size: 60px;
  }

  .tagline {

    .tag {
      padding: 10px 0;
      font-size: 32px;
      text-transform: uppercase;
      font-weight: bold;
    }

    .tag:nth-child(2) {
      color: #E85657;
    }

    .tag:nth-child(1) {
      color: #263858;
    }

    .tag:nth-child(3) {
      color: #B5C8DC;
    }
  }

  .continue {
    text-align: center;
    font-size: 60px;

    a {
      color: #FFF;
    }
  }

  .social {
    margin-top: 30px;
    text-align: center;
  }

  .social li {
    margin: 0 10px 0 0;
  }

  .social li:last-child {
    margin-right: 0;
  }

  .social a .fa {
    transition: linear 300ms;
  }

  .social a {
    font-size: 25px;
    line-height: 80px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 3px;
  }

  .social a .fa-stack .fa-inverse {
    color: #6699CC;
  }

  .social a .fa-stack:first-child {
    color: #FFF;
  }

  .social a:hover .fa-stack:first-child,
  .social a:active .fa-stack:first-child,
  .social a:focus .fa-stack:first-child {
    color: #E85657;
  }

  @media ( min-width: 768px ) {
    .masthead {
      font-size: 80px;
    }

    .masthead, .tagline {
      margin-bottom: 80px;
    }

    .social a {
      font-size: 30px;
    }
  }

  @media ( min-width: 992px ) {
    .tagline {
      margin-bottom: 100px;
    }

    .masthead {
      margin-bottom: 0;
      font-size: 100px;
    }

    .tagline .tag {
      font-size: 24px;
      margin-right: 20px;
      display: inline-block;

      &:last-child {
        margin-right: 0;
      }
    }

    .social a {
      font-size: 40px;
    }
  }
}

