<div class="section-home">
  <div class="table-wrapper">
    <div class="table-cell">
      <div class="container">
        <div class="row">
          <div class="masthead">Josh David Miller</div>
        </div>
        <div class="row">
          <div class="tagline">
            <div class="tag">Digital Strategy</div>
            <div class="tag">Product Management</div>
            <div class="tag">Web Development</div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-12">
            <ul class="list-unstyled list-inline social">
              <!-- FIXME: get email from method -->
              <li><a target="_blank" href="mailto:josh@joshdmiller.com">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                  </span>
              </a></li>
              <li><a target="_blank" href="http://plus.google.com/+JoshDavidMiller">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                  </span>
              </a></li>
              <li><a target="_blank" href="http://www.facebook.com/000.joshdmiller">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
              </a></li>
              <li><a target="_blank" href="http://twitter.com/joshdmiller">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
              </a></li>
              <li><a target="_blank" href="http://linkedin.com/in/joshdmiller">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
              </a></li>
              <li><a target="_blank" href="http://github.com/joshdmiller">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
              </a></li>
              <li><a target="_blank" href="http://stackoverflow.com/users/259038/josh-david-miller">
                  <span class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
                  </span>
              </a></li>
            </ul>
          </div>
        </div>
        <!-- <div class="continue"> -->
        <!--   <a href="#consulting"> -->
        <!--     <i class="fa fa-hand-o-down"></i> -->
        <!--   </a> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>

