/**
 * Main Site Menu
 */
.menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;

  .navbar {
    transition: opacity 400ms;
  transition-delay: 0;
    opacity: 0;
  }
}

.bottom-social .container,
.top-menu .container {
  height: 100%;
}

/**
 * Top Section with Site Links
 */
.menu .top-menu {
  position: absolute;
  height: 50%;
  width: 100%;
  top: -70%;
  background-color: #263858;
  z-index: 1;
  -webkit-transition: .4s;
  transition: .4s;

  ul {
    position: relative;
    display: inline-block;
    top: 40%;
    margin: 0 auto;

    li {
      float: left;
      font-size: 23px;
      padding: 0 15px;
    }
  }

  .logo-circle {
    left: 50%;
    margin-left: -75px;
    top: 100%;
  }
}

/**
 * Open Menu Styles
 */

.menu.in .navbar {
  transition-delay: 400ms;
  opacity: 1;
}

.menu.in .top-menu { top: 0; }
.menu.in .top-menu {
  -moz-animation-name:bounce-bottom;
  -moz-animation-duration:.8s;
  -moz-animation-fill-mode:backwards;
  
  -webkit-animation-name:bounce-bottom;
  -webkit-animation-duration:.8s;
  -webkit-animation-fill-mode:backwards;
  
  animation-name:bounce-bottom;
  animation-duration:.8s;
  animation-fill-mode:backwards;
}


/**
 * Bottom Section with Social Links
 */
.menu .bottom-social {
  position: absolute;
  height: 50%;
  width: 100%;
  bottom: -50%;
  background-color: #B5C8DC;
  z-index: 0;

  -webkit-transition: .4s;
  transition: .4s;
}

.menu.in .bottom-social { bottom: 0; }
.menu.in .bottom-social {
  -moz-animation-name:bounce-top;
  -moz-animation-duration:.8s;
  -moz-animation-fill-mode:backwards;
  
  -webkit-animation-name:bounce-top;
  -webkit-animation-duration:.8s;
  -webkit-animation-fill-mode:backwards;
  
  animation-name:bounce-top;
  animation-duration:.8s;
  animation-fill-mode:backwards;
}

/* Bounce Transition */
@-webkit-keyframes bounce-bottom {
  0%  { top:-70%; -webkit-animation-timing-function:ease-in;  }
  37%   { top:0; -webkit-animation-timing-function:ease-out; }
  55%   { top:-17.5%; -webkit-animation-timing-function:ease-in;  }
  73%   { top:0; -webkit-animation-timing-function:ease-out; }
  82%   { top:-4.9%; -webkit-animation-timing-function:ease-in;  }
  91%   { top:0; -webkit-animation-timing-function:ease-out; }
  96%   { top:-1.4%; -webkit-animation-timing-function:ease-in;  }
  100%  { top:0; }
}
@-moz-keyframes bounce-bottom {
  0%  { top:-70%; -webkit-animation-timing-function:ease-in;  }
  37%   { top:0; -webkit-animation-timing-function:ease-out; }
  55%   { top:-17.5%; -webkit-animation-timing-function:ease-in;  }
  73%   { top:0; -webkit-animation-timing-function:ease-out; }
  82%   { top:-4.9%; -webkit-animation-timing-function:ease-in;  }
  91%   { top:0; -webkit-animation-timing-function:ease-out; }
  96%   { top:-1.4%; -webkit-animation-timing-function:ease-in;  }
  100%  { top:0; }
}
@keyframes bounce-bottom {
  0%  { top:-70%; -webkit-animation-timing-function:ease-in;  }
  37%   { top:0; -webkit-animation-timing-function:ease-out; }
  55%   { top:-17.5%; -webkit-animation-timing-function:ease-in;  }
  73%   { top:0; -webkit-animation-timing-function:ease-out; }
  82%   { top:-4.9%; -webkit-animation-timing-function:ease-in;  }
  91%   { top:0; -webkit-animation-timing-function:ease-out; }
  96%   { top:-1.4%; -webkit-animation-timing-function:ease-in;  }
  100%  { top:0; }
}

/* top */
@-webkit-keyframes bounce-top {
  0%  { bottom:-70%; -webkit-animation-timing-function:ease-in;  }
  37%   { bottom:0; -webkit-animation-timing-function:ease-out; }
  55%   { bottom:-17.5%; -webkit-animation-timing-function:ease-in;  }
  73%   { bottom:0; -webkit-animation-timing-function:ease-out; }
  82%   { bottom:-4.9%; -webkit-animation-timing-function:ease-in;  }
  91%   { bottom:0; -webkit-animation-timing-function:ease-out; }
  96%   { bottom:-1.4%; -webkit-animation-timing-function:ease-in;  }
  100%  { bottom:0; }
}
@-moz-keyframes bounce-top {
  0%  { bottom:-70%; -moz-animation-timing-function:ease-in;  }
  37%   { bottom:0; -moz-animation-timing-function:ease-out; }
  55%   { bottom:-17.5%; -moz-animation-timing-function:ease-in;  }
  73%   { bottom:0; -moz-animation-timing-function:ease-out; }
  82%   { bottom:-4.9%; -moz-animation-timing-function:ease-in;  }
  91%   { bottom:0; -moz-animation-timing-function:ease-out; }
  96%   { bottom:-1.4%; -moz-animation-timing-function:ease-in;  }
  100%  { bottom:0; }
}
@keyframes bounce-top {
  0%  { bottom:-70%; -moz-animation-timing-function:ease-in;  }
  37%   { bottom:0; -moz-animation-timing-function:ease-out; }
  55%   { bottom:-17.5%; -moz-animation-timing-function:ease-in;  }
  73%   { bottom:0; -moz-animation-timing-function:ease-out; }
  82%   { bottom:-4.9%; -moz-animation-timing-function:ease-in;  }
  91%   { bottom:0; -moz-animation-timing-function:ease-out; }
  96%   { bottom:-1.4%; -moz-animation-timing-function:ease-in;  }
  100%  { bottom:0; }
}

/**
 * Social media links
 */

.bottom-social .social ul {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.bottom-social .social li {
  padding: 20px;
}

.bottom-social .social a {
  font-size: 48px;
}

/**
 * Center icon
 */

.menu .logo-circle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: -75px;
  margin-top: -75px;

}


/**
 * Nav Link Effects
 */

.menu .toc {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.menu .toc a {
  display: inline-block;
  position: relative;
  margin: 15px 0;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFF;
  font-size: 24px;
  font-family: Raleway, sans-serif;
}

.menu .toc a::before,
.menu .toc a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.menu .toc a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.menu .toc a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.menu .toc a:hover::before,
.menu .toc a:hover::after,
.menu .toc a:focus::before,
.menu .toc a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

