<div class="menu" ng-class="{ in: in }">
  <div class="top-menu">
    <!-- <div class="navbar navbar-fixed-top"> -->
    <!--   <div class="container"> -->
    <!--     <a class="navbar-brand" href="#" ng-click="hide()"> -->
    <!--       <i class="fa fa-times"></i> -->
    <!--     </a> -->
    <!--   </div> -->
    <!-- </div> -->

    <div class="container">
      <div class="table-wrapper">
        <nav class="toc">
          <a href="#/" ng-click="go('')"><span>Home</span></a>
          <a href="#/consulting" ng-click="go('consulting')"><span>Consulting</span></a>
          <a href="#/open-source" ng-click="go('open-source')"><span>Open Source</span></a>
          <a href="#/contact" ng-click="go('contact')"><span>Contact</span></a>
          <a href="#/articles" ng-click="go('articles')"><span>Articles</span></a>
        </nav>
      </div>
    </div>

    <div class="logo-circle">
      <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 150">
        <g class="brand" transform="translate(-215.7143,-245.9336)">
          <text x="272.0119" y="368.16562">
            <tspan x="272.0119" y="368.16562">JDM</tspan>
          </text>
        </g>
      </svg>
    </div>
  </div>

  <div class="bottom-social">
    <div class="container">
      <div class="social table-wrapper">
        <ul class="list-unstyled list-inline">
          <li><a href="https://twitter.com/joshdmiller"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://facebook.com/000.joshdmiller"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://plus.google.com/+JoshDavidMiller"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="https://linkedin.com/in/joshdmiller"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="http://stackoverflow.com/users/259038/josh-david-miller"><i class="fa fa-stack-overflow"></i></a></li>
          <li><a href="http://github.com/joshdmiller"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

