html, body, .sections {
  width: 100%;
  height: 100%;
}

.table-wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.navbar {
  @mixin vendor($property, $value...){
    -webkit-#{$property}:$value;
    -moz-#{$property}:$value;
    -ms-#{$property}:$value;
    -o-#{$property}:$value;
    #{$property}:$value;
  }

  border-bottom: none;

  .navbar-brand {
    padding: 5px;
    line-height: 40px;
    font-size: 30px;
    color: #FFF;
  }

  .hamburger {
    display: block;
    width: 40px;
    @include vendor(transform, translate3d(0,0,0));

    .bar {
      text-indent: -9999px;
    }

    .bar,
    &:before,
    &:after,
    .menu-icon__text {
      background: #fff;
      @include vendor(border-radius, 3px);
      content: '';
      display: block;
      height: 4px;
      margin: 6px 0;
      @include vendor(transition, all .2s ease-out);
      width: 100%;
    }

    &.cross {
      &:before {
        @include vendor(transform, rotate(45deg) translate3d(5px,10px,0));
      }

      .bar {
        opacity: 0;
      }

      &:after {
        @include vendor(transform, rotate(-45deg) translate3d(5px,-9px,0));
      }
    }
  }
}

.logo-circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #E85657;
  
  svg {
    max-width: 100%;
    margin-top: 35px;
  }

  .brand text {
    font-size: 144px;
    text-align: center;
    fill: #ffffff;
    fill-opacity: 1;
    stroke: none;
    font-family: "Just Me Again Down Here", sans-serif;
  }

  a {
    position: relative;
    top: 50px;
    margin: 0;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    /* IE 5-7 */
    filter: alpha(opacity=80);
    /* Netscape */
    -moz-opacity: 0.8;
    /* Safari 1.x */
    -khtml-opacity: 0.8;
    /* Good browsers */
    opacity: 0.8;
  }
}

a {
  transition: 250ms linear;
}

