.section-contact {
  width: 100%;
  height: 100%;
  background-color: #6699CC;
  color: #FFF;
}

.section-contact .social {
  margin-top: 30px;
  text-align: center;
}

.section-contact .social li {
  margin: 0 10px 0 0;
}

.section-contact .social li:last-child {
  margin-right: 0;
}

.section-contact .social a .fa {
  transition: linear 300ms;
}

.section-contact .social a {
  font-size: 50px;
  line-height: 80px;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;
}

.section-contact .social a .fa-stack .fa-inverse {
  color: #6699CC;
}

.section-contact .social a .fa-stack:first-child {
  color: #FFF;
}

.section-contact .social a:hover .fa-stack:first-child,
.section-contact .social a:active .fa-stack:first-child,
.section-contact .social a:focus .fa-stack:first-child {
  color: #E85657;
}

.section-contact .headline {
  color: #FFF;
  font-size: 60px;
  line-height: 100px;
  text-align: center;
}

.section-contact .huge {
  color: #FFF;
  font-weight: bold;
  font-size: 75px;
  line-height: 75px;
}

.section-contact .emphasis {
  color: #E85657;
}


