<!DOCTYPE html>
<html ng-app="jdm" ng-controller="JdmCtrl">
  <head>
    <title>Josh David Miller</title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@joshdmiller">
    <meta name="twitter:title" content="Josh David Miller">
    <meta name="twitter:description" content="">
    <meta name="twitter:creator" content="@joshdmiller">
    <meta name="twitter:image:src" content="">
    <meta property="og:title" content="Josh David Miller" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://joshdavidmiller.com" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here|Raleway|Quicksand' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <a href aria-label="Toggle Navigation" class="navbar-brand hamburger"
          ng-click="toggleMenu()" ng-class="{ cross: menuOpen }">
          <span class="bar"></span>
        </a>
        <!-- <a class="navbar-brand menu-trigger" href ng-click="toggleMenu()"> -->
        <!--   <i class="fa fa-bars"></i> -->
        <!-- </a> -->
        <!-- <a class="send-message-btn" href>Write a Message</a> -->
      </div>
    </nav>

    <div sliding-menu="menuOpen"></div>
    <!-- <div class="sections" sections></div> -->
    <ng-view></ng-view>

    <!-- styles -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"><% webappStyles.forEach( function ( style ) {%>
    <link rel="stylesheet" href="<%= warlock.file.relativePath( warlock.file.dirname(filepath), style ) %>"><%});%>

    <!-- scripts -->
    <script type="text/javascript" src="https://code.angularjs.org/1.3.0-beta.9/angular.min.js">
    </script>
    <script type="text/javascript" src="https://code.angularjs.org/1.3.0-beta.9/angular-route.min.js">
    </script><% webappScripts.forEach( function ( script ) {%>
    <script type="text/javascript" src="<%= warlock.file.relativePath( warlock.file.dirname(filepath), script ) %>">
    </script><%});%>
  </body>
</html>
